In [2]:
import pandas as pd

/tmp/ipykernel_51178/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv('more_restaurants_in_boston.csv')
df.head()

,index,name,place_id,rating,rating_count,tags,address,price_level
0,0,Poké station and kitchen,ChIJX2gMMRF744kRT0joQSv1s-I,4.1,142,"('restaurant', 'point_of_interest', 'food', 'e...","313 Huntington Ave, Boston",Unknown
1,1,Café 26,ChIJW_a-KZ1w44kRHk5Kn5rtyfU,4.4,750,"('cafe', 'bakery', 'restaurant', 'food', 'poin...","26 Temple Pl, Boston",1
2,2,Saigon Hut,ChIJwUoKo1pw44kRSICBAhb-SZ8,4.3,270,"('restaurant', 'point_of_interest', 'food', 'e...","305 Meridian St, Boston",1
3,3,Panera Bread,ChIJD1pVc_R544kRl6kBuJSBcvE,3.9,709,"('cafe', 'bakery', 'meal_takeaway', 'restauran...","289 Huntington Ave, Boston",2
4,4,Pita Cambridge,ChIJ-yVYgUt344kRLGUJ2BSPvYg,4.3,283,"('restaurant', 'food', 'point_of_interest', 'e...","12 Springfield St, Cambridge",2

In [18]:
pd.set_option('display.max_columns', None)
sorted_df = df[["name", "rating", 'price_level', 'rating_count', 'tags', 'address']].drop_duplicates(subset=['name', 'rating', 'price_level', 'rating_count', 'address'], keep='first').sort_values(by=['rating'], ascending=False).where(lambda d: d['rating_count'] > 25).dropna(how='all')
sorted_df

,name,rating,price_level,rating_count,tags,address
816,BEANTOWN KEBAB,5.0,Unknown,69.0,"('restaurant', 'food', 'point_of_interest', 'e...","7 Liberty Sq, Boston"
1022,Lotus Test Kitchen,4.9,2,135.0,"('cafe', 'restaurant', 'food', 'point_of_inter...","25 Chauncy St, Boston"
127,The Greek Gyro,4.9,1,60.0,"('restaurant', 'food', 'point_of_interest', 'e...","88 Peterborough St, Boston"
184,Energize,4.9,2,178.0,"('store', 'restaurant', 'food', 'point_of_inte...","265 Massachusetts Ave, Boston"
817,Cheese Meet Wine,4.9,Unknown,267.0,"('restaurant', 'bar', 'food', 'point_of_intere...","1 Broadway, Everett"
...,...,...,...,...,...,...
370,Ueno Sushi,2.8,1,32.0,"('restaurant', 'point_of_interest', 'food', 'e...","1 Faneuil Hall Market Pl, Boston"
658,Dosa Factory,2.8,1,153.0,"('restaurant', 'food', 'point_of_interest', 'e...","316 Newbury St, Boston"
355,Steve's Greek Cuisine,2.6,1,70.0,"('restaurant', 'point_of_interest', 'food', 'e...","1 Faneuil Hall Square, Boston"
1023,Taco Bell Cantina,2.4,1,498.0,"('meal_takeaway', 'restaurant', 'food', 'point...","872 Commonwealth Ave, Brookline"
913,Jen Lai Noodle & Rice Co,2.1,Unknown,40.0,"('restaurant', 'point_of_interest', 'food', 'e...","1 S Market St, Boston"